body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsla(28, 95%, 84%, 0.776);
}

main {
  border: 2.2em solid #0b2434;
  width: 30em;
  height: 25em;
  margin: 5em auto;
  background-color: white;
}
